body.departments {
	.panel.panel-users {
		.panel-body {
			height: 150px;
		}
		.panel-footer {
			background: transparent;
			.form-group {
				margin: 0;
				.checkbox {
					margin: 0;
				}
			}
		}
	}
	.panel-body {
		.right-side-inputs {
			.checkbox, .help-block {
				user-select: none;
			}
		}
	}
}