@import "ticket-layout.less";
@import "btn-file2.less";
@import "departments.less";
@import "tickets.less";

.btn {
	.btn-icons {
		float: left;
		margin-left: 0;
		margin-right: 7px;
		i {
			vertical-align: middle;
		}
	}
}
body.rtl {
	.btn {
		.btn-icons {
			float: right;
			margin-right: 0;
			margin-left: 7px;
		}
	}
}

.label-text-dark {
	color: #1f1e24;
}
