.tickets-search {
	.ticket-status-search {
		margin-bottom: 1px;
		user-select: none;
		ul.search-status-tabs {
			float: left;
			position: relative;
			display: block;
			list-style: none;
			padding-right: 0;
			margin-bottom: 0;
			padding-left: 0px;
			.dropdown-toggle {
				background-color: transparent;
				border: none;
				cursor: pointer;
			}
			li.status-tab {
				float: right;
				display: flex;
				padding: 10px 10px 11px;
				.dropdown-menu {
					left: auto;
					min-width: initial;
					max-width: inherit;
				}
				a.status-tab-link {
					font-size: 14px;
					line-height: 28px;
					color: #707070;
					border-bottom: none;
					white-space: nowrap;
					text-decoration: none;
					position: relative;
					&:hover {
						border-bottom-color: #c4c4c4;
					}
				}
				&.active {
					border-bottom: 2px solid #ffa200;
					a.status-tab-link {
						color: #000;
						font-weight: 600;
					}
				}
			}
		}
		.btn {
			margin-top: 5px;
			@media (max-width: 768px) {
				display: block;
				float: none !important;
				margin-bottom: 12px;
			}
		}
		.pull-right {
			float: right;
		}

	}
	.ticket-advanced-search {
		background: #fafafa;
		padding: 16px;
		border-top: 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
		.form-group {
			input {
				border-radius: 0;
			}
			.btn {
				border-radius: 0;
				i {
					vertical-align: middle;
				}
			}
			margin-bottom: 0;
		}
		.more-field {
			display: none;
			margin-top: 15px;
			.form-group {
				margin-bottom: 15px;
			}
		}
	}
	.tickets-list {
		.text-primary {
			color: #337ab7;
		}
		.text-info {
			color: #5bc0de;
		}
		.text-inverse {
			color: #555;
		}
		.ticket {
			padding: 10px 0 10px 16px;
			position: relative;
			display: block;
			border-bottom: 1px solid #f0f0f0;
			a {
				color: #2e2e2e;
				&.client {
					color: #2e2e2e;
				}
				&.has-unread-message {
					font-weight: 700;
				}
			}
			span {
				display: inline;
				font-weight: 400;
				color: #707070;
				&.label {
					color: #fff;
				}
				&.has-unread-message {
					color: #d9534f;
				}
			}
			.ticket-info {
				text-align: right;
				@media (max-width: 768px) {
					p {
						display: inline;
						&:first-child {
							float: left;
						}
						&:last-child {
							float: right;
						}
					}
				}
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.alert {
		margin-top: 15px;
	}
}
body.tickets-add, body.tickets-view {
	.btn-group-notification-behavior {
		.btn-select-notification-behavior {
			padding-right: 6px;
			padding-left: 6px;
			height: 4.6rem;
			i {
				vertical-align: middle;
			}
		}
		.select-notification-behavior {
			padding: 0px;
			li {
				a {
					padding: 6px 12px;
					.btn-icons {
						float: left;
						margin-left: 0;
						margin-right: 7px;
					}
				}
			}
		}
		.notification-behavior {
			cursor: pointer;
		}
	}
	.d-inline-block {
		display: inline-block !important;
	}
	.my-4 {
		margin-top: 4px !important;
		margin-bottom: 4px !important;
	}
	.mr-2 {
		margin-right: .5rem !important;
	}
	.ml-3 {
		margin-left: 1rem !important;
	}
	.mt-3 {
		margin-top: 1rem !important;
	}
	.mt-4 {
		margin-top: 1.5rem !important;
	}
	.mt-5 {
		margin-top: 3rem !important;
	}
	.mb-3 {
		margin-bottom: 1rem !important;
	}
	.mb-5 {
		margin-bottom: 3rem !important;
	}
	.border {
		border: 1px solid  #dee2e6 !important;
	}
	.border-right {
		border-right: 1px solid  #dee2e6 !important;
	}
	.border-left {
		border-left: 1px solid  #dee2e6 !important;
	}
	.border-right-0 {
		border-right: none !important;
	}
	.border-0 {
		border: none !important;
	}
	.p-3 {
		padding: 1rem !important;
	}
	.px-3 {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.py-2 {
		padding-top: .5rem !important;
		padding-bottom: .5rem !important;
	}
	.py-4 {
		padding-top: 1.5rem !important;
		padding-bottom: 1.5rem !important;
	}
	.p-0 {
		padding: 0 !important;
	}
	.rounded {
		border-radius: 5px;
	}
	.rounded-right {
		border-top-right-radius: 5px !important;
		border-bottom-right-radius: 5px !important;
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
	.rounded-left {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		border-top-left-radius: 5px !important;
		border-bottom-left-radius: 5px !important;
	}
	.rounded-0 {
		border-radius: 0 !important;
	}
	.bg-white {
		background: White !important;
	}
	.no-resize {
		resize: none;
	}
	.bg-gray {
		background-color: #f5f5f5;
	}
	.bg-blue-gray {
		background-color: #569099 !important;
	}
	.bg-light-gray {
		background-color: #f1f4f6;
	}
	.font-22 {
		font-size: 22px !important;
	}
	.font-30 {
		font-size: 30px !important;
	}
	.text-dark {
		color: #333;
	}
	.text-white {
		color: #fff;
	}
	.text-light-black {
		color: #7a7a7a !important;
	}
	.border-bottom-light-black {
		border-bottom: 1px solid #dee2e6 !important;
	}
	.cursor-pointer {
		cursor: pointer !important;
	}
	#progressBar {
		display: none;
	}
	.attachments {
		display: none;
		padding: 16px 12px;
		border: 1px solid #DDD;
		border-top: none;
		margin-bottom: 3em;
		margin-top: -15px;
		.progress {
			width: 90%;
			margin-bottom: 0;
			height: 10px;
			.progress-bar {
				border-radius: 100px;
				width: 50%;
			}
		}
	}
}
body.tickets-add {
	#ticket-add {
		.display-none {
			display: none;
		}
		.multiuser-panel-container {
			.multiuser-title {
				position: relative;
				right: 50%;
				left: auto;
				width: 120px;
				margin-left: 0;
				margin-right: -65px;
				text-align: center;
				border: 0.5px solid #ccc;
				border-bottom: none;
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
				user-select: none;
			}
			.multiuser-users {
				border-top: 1px solid #ccc;
				tr {
					td {
						&.index {
							width: 7%;
							user-select: none;
						}
						&.btn-remove-container {
							padding: 0;
							background-color: #d9534f;
							border-color: #d43f3a;
							button {
								border-radius: 0;
								padding-right: 0;
								padding-left: 0;
								color: #fff;
								&.confirm-remove > i {
									animation-name: shake-rotate;
									animation-duration: 1s;
									animation-timing-function: ease-in-out;
									animation-iteration-count: infinite;
								}
							}
						}
					}
				}
			}
		}
		.new-ticket-panel-container {
			transition: width 0.7s;
			textarea {
				resize: vertical;
				box-shadow: none;
				line-height: 1.8;
				&:hover, &:focus, &:active {
					box-shadow: none;
				}
			}
			select:-moz-focusring {
				color: transparent;
				text-shadow: 0 0 0 #000;
			}
			.btn-multiuser {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
}
body.tickets-view {
	textarea {
		resize: vertical;
		box-shadow: none;
		&:hover, &:focus, &:active {
			box-shadow: none;
		}
	}
}

body.ticketing-templates {
	.btn-acion {
		margin-bottom: 10px;
	}
}

body.ticketing-labels {
	.btn-acion {
		margin-bottom: 10px;
	}
}

#labels-add-edit-form {
	textarea {
		resize: vertical;
	}
}

body.rtl {
	.ticket-status-search {
		font-family: Vazirmatn;
		ul.search-status-tabs {
			float: right;
		}
	}
	.tickets-list {
		.ticket {
			.ticket-info {
				text-align: left;
			}
		}
	}
	&.tickets-add {
		#ticket-add {
			font-family: Vazirmatn;
			.btn-multiuser {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
	&.tickets-view {
		#ticket-reply {
			.btn-group-notification-behavior {
				font-family: Vazirmatn;
			}
		}
	}
	&.tickets-view, &.tickets-add {
		.btn-group-notification-behavior {
			.select-notification-behavior {
				.btn-icons {
					float: right;
					margin-right: 0;
					margin-left: 7px;
				}
			}
		}
	}

	&.ticketing-templates {
		.container {
			.panel {
				font-family: yekan;
			}
		}
		#search-templates-modal {
			font-family: yekan;
		}
	}

	&.ticketing-labels {
		.container {
			.panel {
				font-family: yekan;
			}
		}
		#search-templates-modal {
			font-family: yekan;
		}
	}

	#labels-add-edit-form {
		font-family: yekan;
	}

	#ticketing-editor {
		font-family: yekan;
	}

	#tutorial-templates-modal {
		font-family: yekan;
	}

	#template-selector-modal {
		font-family: yekan;
		.list-group-item-heading {
			font-family: koodak;
		}
	}
}

#ticketing-editor {
	.nav-tabs {
		li:not(.active) {
			a {
				&:hover {
					color: #999;
				}
			}
		}
	}
	#editor-tab {
		.form-group {
			margin-bottom: 0;
			textarea {
				resize: none;
				border: none;
				border-radius: 0 !important;
				box-shadow: none;
				font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
			}
		}
	}
	#preview-tab {
		.ticket-preview-container {
			padding: 6px 12px;
			font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
			p {
				margin-bottom: 0;
			}
		}
	}
}

#tutorial-templates-modal {
	.modal-body {
		padding: 0;
		text-align: justify;
		h5 {
			font-weight: bold;
		}
		.list-group-item {
			border: none;
		}
		table {
			tbody {
				tr {
					td {
						code {
							cursor: pointer;
						}
					}
				}
			}
		}
		.tutorial-samples {
			> a {
				&:after {
					content: " ";
					border-top: 1px solid #eeeeee;
					margin-top: 20px;
					margin-bottom: 20px;
					display: block;
				}
				&:last-child {
					&::after {
						display: none;
					}
				}
			}
		}
	}
}

#template-selector-modal {
	.modal-body {
		.list-group {
			margin: -15px;
			.list-group-item {
				border: none;
				.list-group-item-text {
					input,textarea {
						font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
					}
					textarea {
						resize: none;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.modal-lg {
		width: 900px !important;
		margin-left: -450px !important;
	}
}
@media (max-width: 992px) {
	.modal-lg {
		width: auto !important;
		margin: 0 !important;
		left: 1% !important;;
		right: 1% !important;;
	}
}

.lg-backdrop {
	z-index: 9998;
}
.lg-outer {
	z-index: 9999;
}
